<app-navbar></app-navbar>
<div class="container" >
<button class="btn btn-primary" (click)="secure()" type="submit">
    Secure</button>
<button class="btn btn-primary" (click)="notSecure()" type="submit">
    Not-Secure</button>
    <br/>
</div>
