<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:4200"><img class="navbar-logo" src="../../../assets/images/simplechat.png"></a>
  
      <button
        class="navbar-toggler"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <p class="navbar-head">THREAD BOARD</p>
        </ul>
          <div *ngIf="isLoggedIn; else elseBlock">
            <button class="btn btn-primary btn-rounded" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
          </div>
          <ng-template #elseBlock>
            <button class="btn btn-primary btn-rounded" (click)="login()"><i class="far fa-user-circle fa-lg"></i> Login</button>
            </ng-template>
    </div>
  </nav>